@charset "utf-8";

#wrap {
  min-width: 1200px;

  > header {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(102, 109, 117);
    border-bottom: 1px solid rgb(216, 216, 216);
    > .logo-container {
      display: flex;
      width: 1060px;
      height: 72px;
      margin: 0 auto;

      > .logo {
        width: 128px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(./../images/logo_mrt_web.svg);
        > a {
          display: block;
          height: 28px;
          text-indent: -9999px;
        }
      } //logo
      > p {
        > input {
          width: 250px;
          height: 45px;
          text-align: left;
          font-size: 15px;
          font-weight: 700;
          margin-left: 20px;
          margin-top: 10px;
          background-image: url(./../images/ic_search_20x20_gray_500.svg);
          background-repeat: no-repeat;
          background-position: 10px 15px;
          background-color: rgb(245, 246, 247);
          border: none;
          border-radius: 5px;
          padding: 0px 10px 0px 48px;
          color: rgb(73, 80, 86);
        }
      } //p
    } //.logocontainer

    > .snb {
      // width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      top: 20%;
      right: 450px;
      //   border: 1px solid #000;
      > li {
        font-size: 15px;
        font-weight: 600;
        margin-right: 20px;
        &:last-child {
          padding: 10px 20px;

          border-radius: 3px;
          border: 1px solid rgb(43, 150, 237);
          > a {
            color: rgb(43, 150, 237);
          }
        }
        > a {
          color: rgb(102, 109, 117);
          display: block;
        }
      }
    }
    > nav {
      width: 1060px;
      margin: 10px auto;
      > .gnb {
        width: 100%;
        display: flex;
        justify-content: space-between;
        > li {
          &:last-child {
            width: 20px;
            height: 20px;
            margin-left: -20px;
            margin-top: -5px;
            background-image: url(./../images/ic_arrow_down_md_gray_700.svg);
          }
          > a {
            display: flex;
            font-size: 16px;
            font-weight: 600;
            color: rgb(73, 80, 86);
            > img {
              width: 20px;
              height: 20px;
              margin-right: 8px;
              display: block;
            }
          }
        } //li
      } //gnb
    } //nav
  } //end of header
  > section {
    width: 1080px;
    margin: 50px auto;

    > h1 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 50px;
    }

    > article {
      position: relative;
      > .swiper {
        > .swiper-wrapper {
          width: 100%;
          > .swiper-slide {
            // border: 1px solid #000;
            position: relative;
            display: flex;
            margin-right: 10px;
            overflow: hidden;
            border-radius: 5px;
            box-shadow: 0 8px 12px 0 rgb(33 37 41 / 45%);
            > a {
              display: block;
              overflow: hidden;
              box-sizing: border-box;
              border-radius: 10px;

              > img {
                width: 100%;
                height: 333px;

                &:hover {
                  transform: scale(1.1);
                  transition-duration: 1s;
                  transition-timing-function: ease-out;
                }
              }
            } //a

            > h2 {
              position: absolute;
              left: 10%;
              top: 10%;
              font-size: 28px;
              font-weight: 700;
              text-align: left;
              text-shadow: 0 1px 8px rgb(33 37 41 / 60%);
              > a {
                color: #fff;
              }
            }
            > p {
              position: absolute;
              left: 10%;
              top: 15%;
              margin-top: 20px;
              padding-bottom: 10px;
              font-size: 18px;
              font-weight: 700;
              line-height: 1.5;

              > a {
                text-shadow: 0 1px 8px rgb(33 37 41 / 60%);
                color: #fff;
              }

              > span {
                position: absolute;
                left: 5%;
                top: 180px;

                > a {
                  font-weight: 500;
                  font-size: 14px;
                  padding: 10px;
                  background-color: #fff;
                  border-radius: 5px;
                  //   box-shadow: 0 0 0 1px rgb(33 37 41 / 8%);
                }
              }
            }
          } //end of .swiper-slide
        } //end of .swiper-wrapper
      } //end of .swiper

      > .swiper-pagination {
        display: none;
      } //end of .swiper-pagination

      > .swiper-button-next {
        position: absolute;
        right: -20px;
        top: 50%;
        background-color: #fff;
        background-image: url(./../images/다운로드.svg);
        background-position: center 13px;
        background-repeat: no-repeat;
        padding: 5px 5px;
        border-radius: 20px;
        border: 1px solid #aaaaaa;
        &:hover {
          box-shadow: 0 8px 12px 0 rgb(33 37 41 / 55%);
        }
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        display: none;
      }
    } //end of article
  } //end of section
  > section {
    > article {
      max-width: 1080px;
      position: relative;
      > .swiper1 {
        > .swiper-wrapper1 {
          > .swiper-slide1 {
            display: flex;
            overflow: hidden;
            > li {
              > a {
                display: block;

                > img {
                  width: 1080px;
                  height: 300px;
                  border-radius: 3px;
                  &:hover {
                    width: 100%;
                    // position: absolute;
                    // left: 50%;
                    // top: 0;
                  }
                }
              }
            } //li
          } //swiper-slid
        } //end of .swiper-wrapper
      } //end of .swiper
    } //end of article
  } //end of section
  > section {
    > .tit-text {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: -10px;
    }
    > article {
      width: 100%;
      position: relative;
      margin-top: 20px;

      > .swiper2 {
        > .swiper-wrapper2 {
          display: flex;
          height: 311px;

          > .swiper-slide2 {
            border: 1px solid #d6d6d6;
            border-radius: 5px;
            overflow: hidden;
            margin-right: 20px;

            box-shadow: 0 8px 12px 0 rgb(33 37 41 / 55%);

            &:hover {
              box-shadow: inset 0 8px 12px 0 rgb(33 37 41 / 55%);
            }
            &:last-child {
              margin: 0;
            }
            > a {
              > img {
                display: block;
                width: 100%;
                height: 166px;
              }
            } //a

            > .swiper-slide1-text {
              width: 250px;
              padding: 10px 20px 15px 10px;

              > p {
                color: #848c94;
                font-size: 12px;
              } //p
              > h2 {
                padding-right: 10px;
                font-size: 15px;
                line-height: 1.47;
                color: #343a40;
                font-weight: 500;
                margin-bottom: 15px;
              }
              > h3 {
                color: #848c94;
                font-size: 12px;
                margin-left: 80px;
              }
              > ul {
                display: flex;
                margin-top: -13px;
                margin-bottom: 8px;
                > li {
                  > img {
                    width: 15px;
                    height: 15px;
                  }
                }
              } //ul
              > span {
                color: #848c94;
                font-size: 12px;
                // margin-right: 4px;
                &:nth-of-type(1) {
                  text-decoration: line-through;
                }
                &:nth-of-type(2) {
                  color: #666d75;
                  font-size: 14px;
                  font-weight: 500;
                }
                &:nth-of-type(4) {
                  margin-left: 20px;
                }
              } //span
            } //swiper-slide1-text
          } //end of .swiper-slide
        } //end of .swiper-wrapper
      } //end of .swiper
    } //end of article
  } //end of section
  > footer {
    border-top: 1px solid rgb(172, 172, 172);
    margin-bottom: 50px;
    > .footer-top {
      //   margin: 30px;
      width: 1060px;
      margin: 50px auto;

      > h1 {
        font-size: 20px;
        color: rgb(102, 109, 117);
      }
      > .cs-center {
        width: 50%;
        margin-top: 10px;
        > li {
          font-size: 14px;
          letter-spacing: -0.2px;
          line-height: 20px;
          color: rgb(73, 80, 86);
          &:last-child {
            margin-top: 30px;

            > a {
              width: 110px;
              height: 40px;
              color: rgb(73, 80, 86);
              font-size: 14px;
              font-weight: 600;
              padding: 10px;
              border-radius: 3px;
              border: 1px solid rgb(197, 197, 197);
              &:hover {
                box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 0px;
              }
            }
          }
        }
      } //cs-center
      > .footer-top-cscenter-container {
        > .footer-top-cscenter-item {
          display: flex;
          justify-content: flex-end;
          margin-top: -150px;
          font-size: 15px;
          color: rgb(102, 109, 117);

          > .gb {
            margin-right: 80px;
            > span {
              font-weight: 600;
            }
            > ol {
              > li {
                margin-top: 20px;
                > a {
                  padding: 3px;
                  color: rgb(102, 109, 117);
                  &:hover {
                    color: #0275d8;
                    background-color: #e0f0ff;
                  }
                }
              } //li
            } //ol
          } //.gb(li)
        } //.footer-top-cscenter-item(ul)
      } //.footer-top-cscenter-container
    } //end of footer-top
    > .footer-bottom {
      width: 1060px;
      margin: 50px auto;
      border-top: 1px solid rgb(172, 172, 172);
      color: rgb(132, 140, 148);

      > .footer-bottom-list {
        display: flex;
        margin-bottom: 30px;
        margin-top: 30px;
        > li {
          font-size: 14px;
          margin-right: 20px;
          &:nth-of-type(2) {
            font-weight: 700;
          }
          &:last-child {
            > img {
              position: absolute;
              right: 550px;
              width: 55px;
              height: 40px;
              margin-top: 50px;
            }
          }
          > a {
            padding: 5px;
            color: rgb(132, 140, 148);
            &:hover {
              color: #0275d8;
              background-color: #e0f0ff;
            }
          }
        } //li
      } //.footer-bottom-list
      > p {
        font-size: 12px;
        > a {
          color: rgb(132, 140, 148);
          font-weight: 600;
        }
        &:nth-of-type(3) {
          margin-top: 20px;
        }
      } //p

      > .footer-out-link {
        position: relative;

        > .footer-out-link-container {
          display: flex;
          justify-content: flex-end;
          margin-top: -120px;
          margin-right: 90px;
          > li {
            margin-left: 20px;
            &:nth-of-type(5) {
              > a {
                color: #adadad;
              }
            }
            &:nth-of-type(8) {
              width: 108px;
              height: 40px;
              border: 1px solid rgb(206, 212, 218);
              border-radius: 5px;
              margin-top: -10px;
              > a {
                display: flex;
                line-height: 40px;
                > img {
                  margin-left: 10px;
                  margin-top: 10px;
                }
              }
            } //last-chlid

            > a {
              > img {
                width: 20px;
                height: 20px;
              }
            } //a
          } //li
          > span {
            width: 30px;
            height: 30px;
            background-image: url(./../images/ic_arrow_down_12x12_gray_300.svg);
            background-repeat: no-repeat;
            margin-left: -30px;
          }
        } //end of .footer-out-link-container
      } //end of .footer-out-link
    } //end of footer-bottom
  } //end of  footer
} //end of #wrap
